In [1]:
import sys
sys.path.append('..')
from MPRA_predict.utils import *

In [2]:
Gosai_df = pd.read_csv('../data/GosaiMPRANature/GosaiMPRA.csv')
Gosai_df

/tmp/ipykernel_102051/1409231964.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Gosai_df = pd.read_csv('../data/GosaiMPRANature/GosaiMPRA.csv')

                           ID    chr data_project  OL   K562  HepG2  SK-N-SH                                                seq
0         7:70038969:G:T:A:wC   chr7         UKBB  29  0.061  0.234    0.047  CCTGGTCTTTCTTGCTAAATAAACATATCGTGCATCATCCAGATCT...
1        1:192696196:C:T:A:wC   chr1         UKBB  33  0.380  0.005   -0.244  CATAAAGATGAGGCTTGGCAAAGAACATCTCTCGGTGCCTCCCATT...
2        1:211209457:C:T:A:wC   chr1         UKBB  33  0.037  0.385   -0.005  CATAAAGCCAATCACTGAGATGACAAGTACTGCCAGGAAAGAAGGC...
3       15:89574440:GT:G:A:wC  chr15         UKBB  33  4.465  4.107    2.870  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
4       15:89574440:GT:G:R:wC  chr15         UKBB  33  4.509  4.116    3.040  CATAAAGGCAGTGTAGACCCAAACAGTGAGCAGTAGCAAGATTTAT...
...                       ...    ...          ...  ..    ...    ...      ...                                                ...
798059       4:44680358:NA:NA   chr4          CRE  15  7.444  5.344    6.585  CAGTAGTAAGAAAGAGACAATGCAAAGGAATTGGCACAGCACTCAG...
798060       18:9125893:NA:NA  chr18          CRE  15 -0.205 -0.157   -0.209  CAGTACTGCTGGCCCCAGAAAAGCCCCTCTCCTTATACCCTAGGCC...
798061      12:33905808:NA:NA  chr12          CRE  15  1.218  0.614    0.570  CAGTACCTTGTCCCCACTTCCCATTTGGCCTCTGGCAGAGGAGGAG...
798062      3:128145854:NA:NA   chr3          CRE  15 -0.222 -0.339   -0.818  CAGTACACCCCAGCTTCCAAAGGCCTTCTGTGACAAAGAGAGACTA...
798063       2:42731164:NA:NA   chr2          CRE  15  1.064  0.100    0.525  TTTTTTTTTTTTTTTTGAGATGGAGTTTCCCTCTTGTCACCCAGGC...

[798064 rows x 8 columns]

In [2]:
Gosai_df = pd.read_csv('../data/GosaiMPRANature/GosaiSirajMPRA.csv')
Gosai_df

                              ID   chr       pos  ref  alt allele  HepG2   K562  SK-N-SH  A549  HCT116                                                seq
0               chr1:14677:G:A:A  chr1     14677    G    A      A  0.416  0.515    0.419   NaN  -0.288  AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...
1               chr1:14677:G:A:R  chr1     14677    G    A      R  0.668 -0.742    0.516   NaN   0.159  AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...
2               chr1:63697:T:C:A  chr1     63697    T    C      A  1.149 -0.735    0.209   NaN   1.051  CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...
3               chr1:63697:T:C:R  chr1     63697    T    C      R  1.279 -0.460    0.755   NaN   1.100  CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...
4               chr1:64764:C:T:R  chr1     64764    C    T      R -0.238 -0.056    0.518   NaN   0.258  AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...
...                          ...   ...       ...  ...  ...    ...    ...    ...      ...   ...     ...                                                ...
763679  chrY:15815629:NA:NA:None  chrY  15815629  NaN  NaN    NaN  1.845  1.381    1.702   NaN     NaN  CTGCATCTGTGCAGCCTGGCAGCGGCGGCGCTGCGCTGTGACATTT...
763680  chrY:21740684:NA:NA:None  chrY  21740684  NaN  NaN    NaN -0.108 -0.307   -0.080   NaN     NaN  GCACTTCACATTTGTTTTTAGGGTTACATAGTCTACTCTGTATCCT...
763681  chrY:21740884:NA:NA:None  chrY  21740884  NaN  NaN    NaN  0.260  0.364    0.060   NaN     NaN  TGTTCAAGTGGCCACAGGGTTACTTGCTTTAGCATGGCTCCTTGGC...
763682  chrY:21741084:NA:NA:None  chrY  21741084  NaN  NaN    NaN  0.377  0.395   -0.031   NaN     NaN  TAATTAGTTGGGAAGGTTCAGGTTCTGGGACATCCGTTGCTATTTC...
763683  chrY:21807029:NA:NA:None  chrY  21807029  NaN  NaN    NaN  1.504  0.892    1.302   NaN     NaN  AGCAAATATTGCAGAACAACAAATATTGCTGCTTGATCCTTCCTCT...

[763684 rows x 12 columns]

In [6]:
(~pd.isna(Gosai_df)).sum(0)

ID         763684
chr        763684
pos        763684
ref        749220
alt        749220
allele     749220
HepG2      763684
K562       763684
SK-N-SH    763684
A549       249018
HCT116     375644
seq        763684
dtype: int64

In [4]:
# 各细胞类型的真实活性的相关性
cell_types = ['K562', 'HepG2', 'SK-N-SH', 'A549', 'HCT116']

corr_matrix = pd.DataFrame(index=cell_types, columns=cell_types, dtype=float)
for cell_type in cell_types:
    for cell_type_2 in cell_types:
        x, y = Gosai_df[f'{cell_type}'], Gosai_df[f'{cell_type_2}']
        r, p = pearson(x, y)
        corr_matrix.loc[cell_type, cell_type_2] = r

corr_matrix.loc['A549', 'HCT116'] = np.nan
corr_matrix.loc['HCT116', 'A549'] = np.nan
print(corr_matrix)
print()

         HepG2  K562  SK-N-SH  A549  HCT116
HepG2    1.000 0.797    0.834 0.724   0.854
K562     0.797 1.000    0.757 0.709   0.804
SK-N-SH  0.834 0.757    1.000 0.771   0.812
A549     0.724 0.709    0.771 1.000     NaN
HCT116   0.854 0.804    0.812   NaN   1.000